{deps, [
	{cowboy, ".*",
		{git, "git://github.com/extend/cowboy.git", "master"}},
		{covertool,".*", {git, "https://github.com/idubrov/covertool.git","HEAD"}}
]}.

{edoc_opts,[{todo,true}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{cover_print_enable, true}.

{plugins, [rebar_covertool]}.
 {cover_export_enabled, true}.
 {covertool_eunit, {".eunit/eunit.coverdata", "eunit.coverage.xml"}}. % Source file name, output report file name
 {covertool_ct, {"ct.coverdata", "ct.coverage.xml"}}. % Source file name, output report file name
 {covertool_prefix_len, 2}. % Optional: Use module prefix as (imaginary) package name
