{deps, [
	{json, ".*", {git, "git://github.com/hio/erlang-json.git", "9800e234102d070733f28d1d4b10126548d90555"}},
	{cowboy, ".*", {git, "git://github.com/Menirad/cowboy.git", "fe6b4e67fa9d45cff55ac9014a15494f36bfe2a8"}},
	{covertool,".*", {git, "https://github.com/idubrov/covertool.git","f42b7638383b5e9a75aba806e279f779f0a8ad21"}},
	{meck, ".*", {git, "git://github.com/eproxus/meck.git", "9b106ef801403a02314f16961f5802bdbf36941f"}},
	 {riakc, ".*",
          {git, "git://github.com/basho/riak-erlang-client", "c377347bb005988cef2c99cd8d2f97cb49f1ae56"}}
]}.

{edoc_opts,[{todo,true}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{cover_print_enable, true}.

{plugins, [rebar_covertool]}.
{cover_export_enabled, true}.
{covertool_eunit, {".eunit/eunit.coverdata", "eunit.coverage.xml"}}. % Source file name, output report file name
{covertool_ct, {"ct.coverdata", "ct.coverage.xml"}}. % Source file name, output report file name
{covertool_prefix_len, 2}. % Optional: Use module prefix as (imaginary) package name
{erl_opts, [warnings_as_errors]}.